
.form-container{
    display: flex;
    justify-content: center;

    form{
        margin-top: 3rem;
        height: 40rem;
        width: 40rem;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .form-group{
            margin-top: 2rem;

            .form-label{
                font-size: 2rem;
            }
        
            .form-control{
                width: fit-content;
                font-size: 2rem;
            }
        }

        .submit-btn{
          
            margin-top: 2rem;
            font-size: 2rem;
            
        }
        
    }
}
